# Ignorar entornos virtuales
.venv/

# Ignorar cachés de Python
__pycache__/
*.pyc

# Ignorar configuraciones de VSCode
.vscode/

# Ignorar archivos generados por PyInstaller
dist/
build/
*.spec

# Ignorar archivos ejecutables
*.exe